.header {
  display: flex;
  justify-content: space-between;
  border-color: rgb(226 232 240);
  border-bottom-width: 1px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
